body{
    height: 50em;
}
.main{
    height: 400px;
}
.head{
    display: inline-block;
    background-color: rgb(208,70,67);
    height: 250px;
    width: 1200px;
    margin: 50px 70px;
    border-radius: 8px;
}
.size{
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
    margin-left: 470px;
    margin-top: 15px;
    font-weight: lighter;
    color: white;
}
.btn{
    color: white;
    background-color:rgb(208,70,67);
    border: 1px solid;
    border-radius: 3px;
    height: 40px;
    width: 250px;
}
.start{
    margin-left:300px;
}
.stop{
    margin-left: 70px;
}
.first{
    display: inline-block;
    margin-left: 70px;
    width: 530px;
}
.second{
    display: inline-block;
    width: 550px;
    margin-left: 20px;
}
h3{
    margin-left: 25px;
    display: inline;
    text-align: center;
}
input {
    margin-left: 70px;
    width: 150px;
    height: 25px;
}
.des{
    margin-left: 0;
    width: 1030px;
    height: 25px;
}
h2{
    font-family: 'Quicksand', sans-serif;
    color:rgb(72,138,196);
    text-align: center;
}
h4{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.lastline{
    width: 1200px;
}