@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* ================================================================ */
/*     Header   */
/* ================================================================ */
*{
    font-family: 'Roboto Mono', monospace;
}
.main{
    width: 100%;
    height: 100%;
}
body{
    background-color: white;
}
.head-part{
    width: 85%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}
.timerPart{
    margin: 50px;
    width: 90%;
    height: 220px;
    display: inline-block;
    background-color: rgba(169,68,66,0.99);
    border: 1px solid white;
    border-radius: 5px;
}
.timerGo{
    font-size:80px;
    padding: 20px;
    color: white;
}
/* ================================================================ */
/* Button to start and stop timer */
/* ================================================================ */
.style{
    font-size: 20px; 
    border: 1px solid white;
    padding: 5px 80px;
    background:transparent;
    color:white;
    border-radius: 3px;
}
.startButton{
    margin-right: 15px;

}
.stopButton {
    margin-left: 15px;
}
/* =========================================== */
/*  Just Lines  */
/* =========================================== */
.forLines{
    width: 80%;
    padding: 0 0 0 135px;
    text-align: center;
    color:white;
}
hr{
    width: 95%;
    justify-content: center;
    border: 0.50px solid rgba(169,68,66,0.99);
    border-radius:2px
}
h3{
    background-color:rgba(169,68,66,0.99);
    margin: 0 24px 0 24px;
    padding: 5px 0 5px 0px;
    border-radius: 2px;
    box-shadow: 0 0 1.5px;
}
/* ============================================= */
/* Category and input Description  */
/* ============================================= */
#add-task-container{
    margin: 20px 160px;
    width: auto;
    padding: 10px 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 1.5px;
    display: flex;
}
/* input buttons for description  =====================*/
.category{
    flex: 2;
    height: 25px;
    border: 1px solid #767676;
    margin-right:3px;
    border-radius: 2px;
    font-size: 15px;
    padding: 5px;
}
#input-task{
    flex: 10;
    border: 1px solid #767676;
    margin-right:3px;
    border-radius: 2px;
    font-size: 15px;
    padding: 5px;
}
/* Adder button to add plan (work) to list =========== */
#add-task{
    flex: 0.3;
    font-size: 10px;
    padding: 5px;
    background-color: white;
    border: 1px solid #767676;
    border-radius: 1.5px;
}
#add-task:hover{
    background-color: rgba(76,76,76,0.1);
    transition: 0.3s;
}
/* =========================================================================================== */
/* Style of text which added after clicking ==================================================*/
/* =========================================================================================== */
.task{
    width: auto;
    height: 50px;
    margin: 0 160px;
    background-color:white;
    border-radius: 2px;
    box-shadow: 0 0 1.5px;
    padding: 0 0 0 50px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.task li{
    list-style: none;
    font-size: 15px;
    padding: 10px;
    margin-left: -430px;
    margin: 0 10px;
    text-align: center;
}

/* Button to delete =========================================================================== */
.task button{
    border: 1px solid;
    border-radius: 3px;
    background-color: white;
    margin-right: 10px;
}
/* #selected-answer{
    text-align: end;
} */